* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form {
    display: inherit;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    width: 40%;
    height: 30%;
    backdrop-filter: blur(10%);
    background-color: rgb(246, 243, 243, 0.1);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

.form label {
    color: white;
}

.form input[type="text"] {
    width: 60%;
    height: 30px;
    outline: none;
}